:root {
    --vp-layout-max-width: 1920px;
    /* 处理文章宽度和sidebar宽度 */
    --vp-code-font-size: 0.9rem;
    /* 全局字体大小 */
    --vp-nav-logo-height: 45px;
    --vp-sidebar-width: 256px;
    --vp-font-family-base: 'Jetbrain Mono';
    --vp-font-family-mono: 'Jetbrain Mono';
}

@font-face {
    font-family: 'Jetbrain Mono';
    src: url('./fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* https://image.leejay.top/fonts/JetBrainsMono-SemiBold.ttf */
@font-face {
    font-family: 'Jetbrain Mono';
    src: url('./fonts/JetBrainsMono-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

.VPDoc img {
    border-radius: 10px;
    /* 设置圆角半径，根据需要调整数值 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* 设置阴影，根据需要调整参数 */
}

.VPNav img {
    border-radius: 50%;
}

.VPHero.has-image .text {
    font-size: 45px;
}

.VPHero.has-image .name {
    font-size: 85px;
}

.VPDoc h2 {
    font-size: calc(var(--vp-code-font-size) * 1.9);
}

.VPDoc h3 {
    font-size: calc(var(--vp-code-font-size) * 1.7);
}

.VPDoc h4 {
    padding-top: 20px !important;
    font-size: calc(var(--vp-code-font-size) * 1.4);
}

.VPDoc h4 a {
    padding-top: 20px !important;
}

.VPDoc h5 {
    padding-top: 20px !important;
    font-size: calc(var(--vp-code-font-size) * 1.1);
}

.VPDoc h5 a {
    padding-top: 20px !important;
}

/* tip mathjax公式超长 */
.VPDoc .custom-block {
    overflow: auto !important;
}

@media (max-width: 640px) {
    .VPHero.has-image .text {
        font-size: 25px;
    }

    .VPHero.has-image .name {
        font-size: 50px;
    }
}

@media (min-width: 1440px) {
    :root {
        --vp-layout-max-width: 100% !important;
        --vp-code-font-size: 0.9rem !important;
        --vp-nav-logo-height: 80% !important
    }

    .VPDoc.has-aside .content-container {
        max-width: 960px !important;
    }

    /* ``标签字体大小 */
    .VPDoc.has-aside .content p code {
        font-size: 15px;
    }

    /* >标签字体大小 */
    .VPDoc blockquote {
        font-size: 15px;
    }

    .VPDoc blockquote p {
        margin: 5px 0;
    }

    /* - 开头的字体 */
    .VPDoc blockquote li {
        font-size: 14px;
    }

    /* 侧边栏 */
    .VPDoc.has-aside .content {
        padding-left: 20px;
    }

    /* 侧边栏字体大小 */
    .VPDocAside .content a {
        font-size: 14px;
    }

    /* 正文字体大小 */
    .VPDoc.has-aside .content p {
        font-size: 0.91rem;
    }
}

@media screen and (min-width: 1900px) {
    :root {
        --vp-code-font-size: 0.9rem !important;
    }

    .VPDoc.has-aside .content-container {
        max-width: 1180px !important;
    }

    .VPDoc.has-aside .content {
        padding-left: 20px;
    }

    /* 侧边栏字体大小 */
    .VPDocAside .content a {
        font-size: 13px;
    }

    /* 正文字体大小 */
    .VPDoc.has-aside .content p {
        font-size: 0.95rem;
    }

    /* 代码字体大小 */
    .VPDoc.has-aside .content code {
        font-size: 14px;
    }

    /* ``标签字体大小 */
    .VPDoc.has-aside .content p code {
        font-size: 14px;
    }

    /* >标签字体大小 */
    .VPDoc blockquote {
        font-size: 14px;
    }

    .VPDoc blockquote p {
        margin: 5px 0;
    }

    .VPDoc .aside {
        width: 300px;
    }
}

.medium-zoom-overlay {
    background-color: var(--vp-c-bg) !important;
    z-index: 100;
}

.medium-zoom-overlay~img {
    z-index: 101;
}

.medium-zoom--opened .medium-zoom-overlay {
    opacity: 0.9 !important;
}
/* markdown文字不换行 */
.VPDoc td {
    white-space: nowrap;
}
/* > 样式优化 */
.VPDoc blockquote {
    border: 1px solid rgb(246 246 247);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.VPDoc blockquote::before {
    content: url('/double_quotes.svg');
    margin-left: 10px;
}
.VPDoc blockquote ul {
    margin: 5px 0;
}

.VPDoc blockquote p {
    padding-left: 10px;
}
/* 代码框样式 */
.VPDoc div[class*='language-'] {
    border: 1px solid rgb(246 246 247);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}